<!DOCTYPE html>
<html lang="en">
<div class="info">
    <div class="classTitle">{{ data[0][1] }}</div>
    <div class="className">{{ data[0][2] }}</div>
    <div class="classAttributes">
        <div class="classCredits"><i data-feather="check-circle" style="color: #00c889"></i>&nbsp;
            {% if data[0][16] == data[0][17] %}
            {{ data[0][16] }} Credits
            {% else %}
            {{ data[0][16] }}-{{ data[0][17] }} Credits
            {% endif %}
        </div>
        <div class="repeatable"><i data-feather="repeat" style="color: #ff1b1b"></i>&nbsp;
            {% if data[0][6] == "1" %}
            Repeatable for Credit
            {% elif data[0][6] == "2" %}
            Repeatable 2x for Credit
            {% elif data[0][6] == "3" %}
            Repeatable 3x for Credit
            {% elif data[0][6] == "4" %}
            Repeatable 4x for Credit
            {% elif data[0][6] == "5" %}
            Repeatable 5x for Credit
            {% elif data[0][6] == "6" %}
            Repeatable 6x for Credit
            {% else %}
            Not Repeatable
            {% endif %}
        </div>
        <div class="classLevel"><i data-feather="bar-chart" style="color: #15d3f4"></i>&nbsp;
            {% if data[0][7] == 1 %}
            Elementary
            {% elif data[0][7] == 2 %}
            Intermediate
            {% elif data[0][7] == 3 %}
            Advanced
            {% elif data[0][7] == 0 %}
            No Level
            {% else %}
            {{ data[0][7] }}
            {% endif %}
        </div>
    </div>
    <div class="classDescription">{{ data[0][3] }}</div>
    <div class="classDescription"><b>Prerequisites</b></div>
    <div class="classDescription">{{ data[0][4] }}</div>
    <hr>
    <div class="className" style="color: #ffffff;">Average Grade:
        <span>
            {% if data[0][28] == "A" %}
            <span style="color: #04dd78; font-weight: 600;">{{ data[0][28] }}</span>
            {% elif data[0][28] == "AB" %}
            <span style="color: #04dd78; font-weight: 600;">{{ data[0][28] }}</span>
            {% elif data[0][28] == "B" %}
            <span style="color: #cfcb4e; font-weight: 600;">{{ data[0][28] }}</span>
            {% elif data[0][28] == "BC" %}
            <span style="color: #cfcb4e; font-weight: 600;">{{ data[0][28] }}</span>
            {% elif data[0][28] == "C" %}
            <span style="color: #ff930f; font-weight: 600;">{{ data[0][28] }}</span>
            {% elif data[0][28] == "D" %}
            <span style="color: #ff3333; font-weight: 600;">{{ data[0][28] }}</span>
            {% elif data[0][28] == "F" %}
            <span style="color: #ff3333; font-weight: 600;">{{ data[0][28] }}</span>
            {% else %}
            {{ data[0][28] }}
            {% endif %}
        </span>

        <button onClick="showChart()" class="chartButton"><i id="toggleIcon" data-feather="chevron-right" style="color: #2988ee; height: 1.3rem;"></i></button>
    </div>


    <div class="gradeChart">
        <canvas id="gradeChart" style="display: none;"></canvas>
    </div>

    <div class="className">peepee poopoo</div>

</div>
    <script>
        function showChart() {
            var x = document.getElementById("gradeChart");
            var y = document.getElementById("toggleIcon");
            console.log(y)
            if (x.style.display === "none" || x.style.display === "") {
                x.style.display = "block";
                y.setAttribute("data-feather", "chevron-down");
                feather.replace({ class: 'foo bar', 'stroke-width': 3, 'height': 15 });

            } else {
                x.style.display = "none";
                y.setAttribute("data-feather", "chevron-right");
                feather.replace({ class: 'foo bar', 'stroke-width': 3, 'height': 15 });
            }
        }
    </script>
    <script>
        var ctx = document.getElementById('gradeChart').getContext('2d');
        Chart.register(ChartDataLabels);
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['A', 'AB', 'B', 'BC', 'C', 'D', 'F'],
                datasets: [{
                    data: [{{ data[0][20] }}, {{ data[0][21] }}, {{ data[0][22] }}, {{ data[0][23] }}, {{ data[0][24] }}, {{ data[0][25] }}, {{ data[0][26]}}],
                    backgroundColor: [
                    "rgb(47,238,168)", "rgb(80,199,140)", "rgb(112,159,113)", "rgb(145,120,85)", "rgb(177,81,57)", "rgb(210,41,30)", "rgb(242,2,2)",
                    ],
                datalabels: {
                    labels: {
                        name: {
                            align: 'center',
                            font: {size: 16},
                            borderColor: 'black',
                            borderWidth: 2,
                            borderRadius: 25,
                            padding: 7
                        }
                    },
                }
            }],
            },
            options: {
                responsive: true,
                maintainAspectRatio: true,
                borderColor: '#212121',
                hoverBorderColor: '#fff',
                plugins: {
                    legend: {
                        display: false
                    },
                    datalabels: {
                        color: 'black',
                        font: {
                            weight: 'bold',
                        },
                        offset: 0,
                        padding: 0,
                        formatter: function(value, ctx) {
                            var dataset = ctx.chart.data.datasets[ctx.datasetIndex];
                            var total = dataset.data.reduce((accumulator, currentValue) => accumulator + currentValue, 0);
                            var percentage = Math.round((value / total) * 100);
                            if (percentage > 5) {
                                return ctx.chart.data.labels[ctx.dataIndex];
                            } else {
                                return null; // Hides the label
                            }
                        },
                    }
                }
            }
        });
        feather.replace({ class: 'foo bar', 'stroke-width': 3, 'height': 15 });
    </script>
</html>